{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
                <!-- PAGE CONTENT WRAPPER -->
                <div class="panel panel-default">
                <div class="panel-body">
                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="fa fa-mortar-board"></span>Nuevo Profesor</h3>
                                </div>
                                <div class="panel-body">
                                    <form method="POST" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label" for="nombre">Nombre</label>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input type="text" class="form-control" name="nombre" id="nombre"/>
                                                </div>
                                                <span class="help-block">Ingresa el nombre</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label" for="apellidoPat">Apellido Paterno</label>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input type="text" class="form-control" name="apellidoPat" id="apellidoPat"/>
                                                </div>
                                                <span class="help-block">Ingresa el apellido paterno</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label" for="apellidoMat">Apellido Materno</label>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input type="text" class="form-control" name="apellidoMat" id="apellidoMat"/>
                                                </div>
                                                <span class="help-block">Ingresa el apellido materno</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label" for="telefono">Telefono</label>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                                    <input type="text" class="form-control" name="telefono" id="telefono"/>
                                                </div>
                                                <span class="help-block">Ingresa el telefono</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label" for="email">E-mail</label>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-envelope-o"></span></span>
                                                    <input type="text" class="form-control" name="email" id="email"/>
                                                </div>
                                                <span class="help-block">Ingresa el email</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <center>
                                <div class="panel-footer">
                                    <a class="btn btn-info" href="#"><span class="fa fa-plus-circle"></span>Agregar</a>
                                    <a class="btn btn-danger" href="{% url 'profesores'%}"><span class="fa fa-ban" ></span>Cancelar</a>
                                </div>
                                </center>
                            </div>

                        </div>
                    </div>
                  </div>

                </div>

                <!-- END PAGE CONTENT WRAPPER -->
{% endblock contenido %}
{% block js %}

    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js'%}"></script>
        <!-- END PLUGINS -->

        <!-- THIS PAGE PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <!-- END PAGE PLUGINS -->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/plugins.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js'%}"></script>
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->
{% endblock js%}
