{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
                <!-- PAGE TITLE -->
                <div class="page-title">
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Alumnos</h2>
                </div>
                <!-- END PAGE TITLE -->

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- START DEFAULT DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Listado de Alumnos</h3>
                                    <div class="pull-right">
                                        <div class="btn-group btn-group-sm">
                                            <a href="#" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="Regresar">
                                            <span class="fa fa-mail-reply"></span>
                                            </a>
                                            <a href="{% url 'alumnosinsert' %}" data-toggle="tooltip" title="" class="btn btn-warning" data-original-title="Agregar">
                                            <span class="fa fa-plus-circle"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body table-responsive">
                                    <table class="table datatable table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>Apellido Paterno</th>
                                                <th>Email</th>
                                                <th>Status</th>
                                                <th>Grupo</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Cesar</td>
                                                <td>Hernandez</td>
                                                <td>recrec@gmail.com</td>
                                                <td>Activo</td>
                                                <td>e5</td>
                                                <td align="center">
                                                    <div class="btn-group btn-group-sm">
                                                        <!--<a href="verAlumno.html" data-toggle="tooltip" title="" class="btn btn-success" data-original-title="Ver">
                                                            <i class="fa fa-eye"></i>
                                                        </a>-->
                                                        <a href="{% url 'alumnosupdate' %}" data-toggle="tooltip" title="" class="btn btn-warning" data-original-title="Modificar">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a href="#" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Eliminar">
                                                            <i class="fa fa-trash-o"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- fin panel-body table-responsive -->
                            </div>
                            <!-- END DEFAULT DATATABLE -->
                        </div>
                        <!-- Fin col-md-12 -->
                    </div>
                    <!-- Fin row -->
                </div>
                <!-- END PAGE CONTENT WRAPPER -->

{% endblock contenido %}

{% block js %}
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/tableExport.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jquery.base64.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/html2canvas.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/sprintf.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/jspdf.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/base64.js' %}"></script>
        <!-- END THIS PAGE PLUGINS-->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/settings.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>

{% endblock js %}