{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
                <!-- PAGE TITLE -->
                <div class="page-title">
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Formulario de Alumnos</h2>
                </div>
                <!-- END PAGE TITLE -->
                <!-- END PAGE TITLE -->

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Registro de alumno</h3>
                                    <div class="pull-right">
                                        <div class="btn-group btn-group-sm">
                                            <a href="" data-toggle="tooltip" class="btn btn-info" data-original-title="Cancelar">
                                                <span class="fa fa-mail-reply"></span>
                                            </a>
                                            <a href="" data-toggle="tooltip" class="btn btn-success" data-original-title="Guardar">
                                                <span class="fa fa-save"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <form class="form-horizontal">
                                    <div class="panel panel-default tabs">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="active">
                                                <a href="#tab-first" role="tab" data-toggle="tab">Datos Personales</a>
                                            </li>
                                            <li>
                                                <a href="#tab-second" role="tab" data-toggle="tab">Facturas</a>
                                            </li>
                                        </ul>
                                        <div class="panel-body tab-content">
                                            <div class="tab-pane active" id="tab-first">

                                                <div class="form-group">
                                                    <label for="imagen" class="col-md-3 col-xs-12 control-label">Imagen</label>
                                                    <div class="col-md-6 col-xs-12">
                                                        <div class="input-group input-file" name="Fichier1">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default btn-choose" type="button">Buscar</button>
                                                            </span>
                                                            <input type="text" name="imagen" class="form-control" placeholder='Escoge un archivo...' value="" accept="image/*">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-warning btn-reset" type="button">Reiniciar</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="nombres" class="col-md-3 col-xs-12 control-label">Nombres</label>
                                                    <div class="col-md-6 col-xs-12">
                                                        <input type="text" name="nombres" class="form-control" value=""/>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="apellidoPaterno" class="col-md-3 col-xs-12 control-label">Apellido Paterno</label>
                                                    <div class="col-md-6 col-xs-12">
                                                        <input type="text" name="apellidoPaterno" class="form-control" value=""/>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="apellidoMaterno" class="col-md-3 col-xs-12 control-label">Apellido Materno</label>
                                                    <div class="col-md-6 col-xs-12">
                                                        <input type="text" name="apellidoMaterno" class="form-control" value=""/>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="telefono" class="col-md-3 col-xs-12 control-label">Telefono</label>
                                                    <div class="col-md-6 col-xs-12">
                                                        <input type="text" name="telefono" class="form-control" value=""/>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="email" class="col-md-3 col-xs-12 control-label">e-mail</label>
                                                    <div class="col-md-6 col-xs-12">
                                                        <input type="email" name="email" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="grupo" class="col-md-3 col-xs-12 control-label">Grupo</label>
                                                    <div class="col-md-6 col-xs-12">
                                                        <select class="form-control select">
                                                            <option>01</option>
                                                            <option>02</option>
                                                            <option>03</option>
                                                            <option>04</option>
                                                            <option>05</option>
                                                        </select>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="tab-pane" id="tab-second">

                                                <div class="form-group">
                                                    <label for="facturaUno" class="col-md-3 col-xs-12 control-label">Numero de factura csos</label>
                                                    <div class="col-md-6 col-xs-12">
                                                        <input type="text" name="facturaUno" class="form-control" value=""/>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="factura2" class="col-md-3 col-xs-12 control-label">Numero de factura de material</label>
                                                    <div class="col-md-6 col-xs-12">
                                                        <input type="text" name="factura2" class="form-control" value=""/>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->
{% endblock contenido %}
{% block js %}
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->
        <!-- THIS PAGE PLUGINS -->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/datepicker-es.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-file-input.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-select.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tagsinput/jquery.tagsinput.min.js' %}"></script>
        <!-- END THIS PAGE PLUGINS -->
        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/settings.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
{% endblock js %}
