{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
                <!-- PAGE TITLE -->
                <div class="page-title">
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Alumnos</h2>
                </div>
                <!-- END PAGE TITLE -->

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    <!-- START RESPONSIVE TABLES -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Datos del Alumno</h3>
                                </div>
                                <div class="panel-body panel-body-table">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-actions">
                                            <!--<thead>-->
                                                <tr>
                                                    <th>id</th>
                                                    <td class="text-center">1</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" align="center">
                                                        <img src="" width="150" height="150" class="img-thumbnail">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <td>Cesar</td>
                                                </tr>
                                                <tr>
                                                    <th>Apellido Paterno</th>
                                                    <td>Hernandez</td>
                                                </tr>
                                                <tr>
                                                    <th>Apellido Materno</th>
                                                    <td>Reyes</td>
                                                </tr>
                                                <tr>
                                                    <th>Telefono</th>
                                                    <td>123456786789</td>
                                                </tr>
                                                <tr>
                                                    <th>e-mail</th>
                                                    <td>frvre@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <th>Grupo</th>
                                                    <td>8</td>
                                                </tr>
                                                <tr>
                                                    <th>Creado</th>
                                                    <td>01/01/2019</td>
                                                </tr>
                                                <tr>
                                                    <th>Modificado</th>
                                                    <td>01/01/2019</td>
                                                </tr>
                                                <tr>
                                                    <th>Status</th>
                                                    <td>Activo</td>
                                                </tr>

                                            <!--</thead>-->
                                            <!--<tbody>-->
                                            <!--</tbody>-->
                                        </table>
                                    </div>
                                </div>
                                <div class="panel-body panel-body-table">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-actions">
                                            <thead>
                                                <tr>
                                                    <th>Examen 1</th>
                                                    <th>Examen 2</th>
                                                    <th>Examen 3</th>
                                                    <th>Calificacion Final</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>8</td>
                                                    <td>8</td>
                                                    <td>8</td>
                                                    <td>8</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="panel-body panel-body-table">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-actions">
                                            <thead>
                                                <tr>
                                                    <th>numero_factura_csos</th>
                                                    <th>suma_montos_csos</th>
                                                    <th>numero_factura_material</th>
                                                    <th>ingreso_total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>100</td>
                                                    <td>100</td>
                                                    <td>100</td>
                                                    <td>100</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END RESPONSIVE TABLES -->
                </div>
                <!-- END PAGE CONTENT WRAPPER -->
                <!-- END PAGE CONTENT WRAPPER -->

{% endblock contenido %}

{% block js %}
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/tableExport.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jquery.base64.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/html2canvas.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/sprintf.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/jspdf.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/base64.js' %}"></script>
        <!-- END THIS PAGE PLUGINS-->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/settings.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>

{% endblock js %}