{% extends 'template_admin.html' %}
{% load static %}


{% block contenido %}
                <ul class="breadcrumb">
                    <li><a href="#">Grupos</a></li>
                    <li><a href="#">Asistencia</a></li>
                </ul>
                <!-- END BREADCRUMB -->                
                                
                <!-- PAGE TITLE -->
                <!-- AQUI EMPIEZA EL CONTENIDO -->
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Control de asistencias.</h2>
                    <div class="panel-heading">
						<div class="pull-right">
							<div class="btn-group btn-group-sm">
								<a href="{% url 'grupos_form' %}" data-toggle="tooltip" class="btn btn-info" data-original-title="Cancelar">
									<span class="fa fa-mail-reply"></span>
								</a>
								<a href="" data-toggle="tooltip" id="btn-save" class="btn btn-success" data-original-title="Guardar">
									<span class="fa fa-save"></span>
								</a>
							</div>
						</div>
					</div>
                </div>
                <!-- END PAGE TITLE -->                

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                	<div class="col-md-12">

                            <!-- SEARCH WIDGET -->
                           
                            <!-- END SEARCH WIDGET -->

                            <!-- TABS WIDGET -->
	                            <div class="panel panel-default tabs">
	                                <ul class="nav nav-tabs nav-justified">
	                                    <li class="active"><a href="#tab1" data-toggle="tab">Clase 1</a></li>
	                                    <li><a href="#tab2" data-toggle="tab">Clase 2</a></li>
	                                    <li><a href="#tab3" data-toggle="tab">Clase 3</a></li>
	                                    <li><a href="#tab4" data-toggle="tab">Clase 4</a></li>
	                                    <li><a href="#tab5" data-toggle="tab">Exámenes</a></li>
	                                    <li><a href="#tab6" data-toggle="tab">CFinal</a></li>
	                                    
	                                </ul>
	                                <div class="panel-body tab-content">
	                                    <div class="tab-pane active" id="tab1">
	                                        
					                            <div class="panel panel-default">
					                                <div class="panel-heading ui-draggable-handle">
					                                    <h3 class="panel-title">Clase 1. Sábado: 06/04/19</h3>
					                                    <ul class="panel-controls">                                                                        
					                                        <a href="" data-toggle="tooltip" class="btn btn-success fa fa-save" data-original-title="Guardar"></a>
					                                    </ul>                                   
					                                </div>
					                                <div class="panel-body list-group list-group-contacts">                                
					                                    <a href="#" class="list-group-item">  

					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>


					                                        <span class="contacts-title pull-left">Santiago Herrera Cerda</span>
					                                        <p>.</p>                                    
					                                    </a>                                
					                                     
					                                    </ul>                                   
					                                </div>
					                                <div class="panel-body list-group list-group-contacts">                                
					                                    <a href="#" class="list-group-item">                                    
					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>



					                                        <span class="contacts-title pull-left">Bryan Hernandez Perez</span>
					                                        <p>.</p>                                    
					                                    </a>
					                                    <a href="#" class="list-group-item">                                    
					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>


					                                        <span class="contacts-title pull-left">Jose Ugalde Cerqueda</span>
					                                        <p>.</p>                                    
					                                    </a>
					                                    <a href="#" class="list-group-item">                                    
					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>



					                                        <span class="contacts-title pull-left">Pedro Sandoval Rangel</span>
					                                        <p>.</p>                                    
					                                    </a>
					                                </div>
					                            </div>
					                            <!-- END CONTACTS -->

					                        
	                                    </div>
	                                    <div class="tab-pane" id="tab2">
	                                    	<div class="panel panel-default">
					                                <div class="panel-heading ui-draggable-handle">
					                                    <h3 class="panel-title">Clase 2. Sábado: 13/04/19</h3>
					                                    <ul class="panel-controls">                                                                        
					                                        <a href="" data-toggle="tooltip" class="btn btn-success fa fa-save" data-original-title="Guardar"></a>
					                                    </ul>                                   
					                                </div>
					                                <div class="panel-body list-group list-group-contacts">                                
					                                    <a href="#" class="list-group-item">                                    
					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>



					                                        <span class="contacts-title pull-left">Santiago Herrera Cerda</span>
					                                        <p>.</p>                                    
					                                    </a>                                
					                                     
					                                    </ul>                                   
					                                </div>
					                                <div class="panel-body list-group list-group-contacts">                                
					                                    <a href="#" class="list-group-item">                                    
					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>



					                                        <span class="contacts-title pull-left">Bryan Hernandez Perez</span>
					                                        <p>.</p>                                    
					                                    </a>
					                                    <a href="#" class="list-group-item">                                    
					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>


					                                        <span class="contacts-title pull-left">Jose Ugalde Cerqueda</span>
					                                        <p>.</p>                                    
					                                    </a>
					                                    <a href="#" class="list-group-item">                                    
					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>



					                                        <span class="contacts-title pull-left">Pedro Sandoval Rangel</span>
					                                        <p>.</p>                                    
					                                    </a>
					                                </div>
					                            </div>
	                                    </div>
	                                    <div class="tab-pane" id="tab3">
	                                        <div class="tab-pane" id="tab2">
	                                    	<div class="panel panel-default">
					                                <div class="panel-heading ui-draggable-handle">
					                                    <h3 class="panel-title">Clase 3. Sábado: 20/04/19</h3>
					                                    <ul class="panel-controls">                                                                        
					                                        <a href="" data-toggle="tooltip" class="btn btn-success fa fa-save" data-original-title="Guardar"></a>
					                                    </ul>                                   
					                                </div>
					                                <div class="panel-body list-group list-group-contacts">                                
					                                    <a href="#" class="list-group-item">                                    
					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>



					                                        <span class="contacts-title pull-left">Santiago Herrera Cerda</span>
					                                        <p>.</p>                                    
					                                    </a>                                
					                                     
					                                    </ul>                                   
					                                </div>
					                                <div class="panel-body list-group list-group-contacts">                                
					                                    <a href="#" class="list-group-item">                                    
					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>


					                                        <span class="contacts-title pull-left">Bryan Hernandez Perez</span>
					                                        <p>.</p>                                    
					                                    </a>
					                                    <a href="#" class="list-group-item">                                    
					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>


					                                        <span class="contacts-title pull-left">Jose Ugalde Cerqueda</span>
					                                        <p>.</p>                                    
					                                    </a>
					                                    <a href="#" class="list-group-item">                                    
					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>



					                                        <span class="contacts-title pull-left">Pedro Sandoval Rangel</span>
					                                        <p>.</p>                                    
					                                    </a>
					                                </div>
					                            </div>
					                        </div>
	                                    </div>
	                                    <div class="tab-pane " id="tab4">
	                                        <div class="tab-pane" id="tab2">
	                                    	<div class="panel panel-default">
					                                <div class="panel-heading ui-draggable-handle">
					                                    <h3 class="panel-title">Clase 4. Sábado: 27/04/19 </h3>
					                                    <ul class="panel-controls">                                                                        
					                                        <a href="" data-toggle="tooltip" class="btn btn-success fa fa-save" data-original-title="Guardar"></a>
					                                    </ul>                                   
					                                </div>
					                                <div class="panel-body list-group list-group-contacts">                                
					                                    <a href="#" class="list-group-item">                                    
					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>



					                                        <span class="contacts-title pull-left">Santiago Herrera Cerda</span>
					                                        <p>.</p>                                    
					                                    </a>                                
					                                     
					                                    </ul>                                   
					                                </div>
					                                <div class="panel-body list-group list-group-contacts">                                
					                                    <a href="#" class="list-group-item">                                    
					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>

					                                        <span class="contacts-title pull-left">Bryan Hernandez Perez</span>
					                                        <p>.</p>                                    
					                                    </a>
					                                    <a href="#" class="list-group-item">                                    
					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>


					                                        <span class="contacts-title pull-left">Jose Ugalde Cerqueda</span>
					                                        <p>.</p>                                    
					                                    </a>
					                                    <a href="#" class="list-group-item">                                    
					                                        
					                                    	<label class="check pull-right"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> Asistió</label>



					                                        <span class="contacts-title pull-left">Pedro Sandoval Rangel</span>
					                                        <p>.</p>                                    
					                                    </a>
					                                </div>
					                            </div>
					                        </div>
	                                    </div>
	                                    <div class="tab-pane" id="tab5">
	                                        <div class="panel-body">
	                                        	<div class="panel panel-default">
					                                <div class="panel-heading ui-draggable-handle">
					                                    <h3 class="panel-title">Exámenes.</h3>
					                                    <ul class="panel-controls">                                                                        
					                                        <a href="" data-toggle="tooltip" class="btn btn-success fa fa-save" data-original-title="Guardar"></a>
					                                    </ul>                                   
					                                </div>


                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>Nombre</th>
                                                <th>Apellido Paterno</th>
                                                <th>Apellido Materno</th>
                                                <th>Grupo</th>
                                                <th>Primer Exámen</th>
                                                <th>Segundo Exámen</th>
                                                <th>CClase</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Santiago</td>
                                                <td>Herrera</td>
                                                <td>Cerda</td>
                                                <td>1</td>
                                                <td><input type="text" class="form-control" placeholder="calificación"></td>
                                                <td><input type="text" class="form-control" placeholder="calificación"></td>
                                                <td><input type="text" class="form-control" placeholder="calificación"></td>
                                            </tr>
                                            <tr>
                            					<td>2</td>
                                                <td>Bryan</td>
                                                <td>Hernandez</td>
                                                <td>Perez</td>
                                                <td>1</td>
                                                <td><input type="text" class="form-control" placeholder="calificación"></td>
                                                <td><input type="text" class="form-control" placeholder="calificación"></td>
                                                <td><input type="text" class="form-control" placeholder="calificación"></td>
                                            </tr>
                                            <tr>                      
                                                <td>3</td>
                                                <td>Jose</td>
                                                <td>Ugalde</td>
                                                <td>Cerqueda</td>
                                                <td>1</td>
                                                <td><input type="text" class="form-control" placeholder="calificación"></td>
                                                <td><input type="text" class="form-control" placeholder="calificación"></td>
                                                <td><input type="text" class="form-control" placeholder="calificación"></td>
                                            </tr>
                                            <tr>                      
                                                <td>4</td>
                                                <td>Pedro</td>
                                                <td>Sandoval</td>
                                                <td>Rangel</td>
                                                <td>1</td>
                                                <td><input type="text" class="form-control" placeholder="calificación"></td>
                                                <td><input type="text" class="form-control" placeholder="calificación"></td>
                                                <td><input type="text" class="form-control" placeholder="calificación"></td>
                                            </tr>
                                        </tbody>
                                    </table>                                
                                </div>
                            </div>
	                                    </div>
	                                    <div class="tab-pane" id="tab6">
	                                         <div class="panel-body">
	                                         	<div class="panel-heading ui-draggable-handle">
                                    <h3 class="panel-title">Calificaciones Finales</h3>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
                                        <ul class="dropdown-menu">
                                            <li class="divider"></li>
                                            <li><a href="#" onclick="$('#customers2').tableExport({type:'excel',escape:'false'});"><img src="{% static '/img/icons/xls.png' %}" id="imgD">  Excel</a></li>
                                            <li><a href="#" onclick="$('#customers2').tableExport({type:'doc',escape:'false'});"><img src="{% static 'img/icons/word.png' %}" id="imgD"> Word</a></li>
                                            <li><a href="#" onclick="$('#customers2').tableExport({type:'powerpoint',escape:'false'});"><img src="{% static 'img/icons/ppt.png' %}" id="imgD"> PowerPoint</a></li>
                                            <li><a href="#" onclick="$('#customers2').tableExport({type:'pdf',escape:'false'});"><img src="{% static 'img/icons/pdf.png' %}" id="imgD"> PDF</a></li>
                                        </ul>
                                    </div>                                    
                                    
                                </div>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>Nombre</th>
                                                <th>Apellido Paterno</th>
                                                <th>Apellido Materno</th>
                                                <th>Grupo</th>
                                                <th>Calificación Final</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Santiago</td>
                                                <td>Herrera</td>
                                                <td>Cerda</td>
                                                <td>1</td>
                                                <td>10.0</td>
                                            </tr>
                                            <tr>
                            					<td>2</td>
                                                <td>Bryan</td>
                                                <td>Hernandez</td>
                                                <td>Perez</td>
                                                <td>1</td>
                                                <td>9.0</td>
                                            </tr>
                                            <tr>                      
                                                <td>3</td>
                                                <td>Jose</td>
                                                <td>Ugalde</td>
                                                <td>Cerqueda</td>
                                                <td>1</td>
                                                <td>9.0</td>           
                                                </tr>
                                            <tr>                      
                                                <td>3</td>
                                                <td>Pedro</td>
                                                <td>Sandoval</td>
                                                <td>Rangel</td>
                                                <td>1</td>
                                                <td>8.0</td>
                                            </tr>
                                        </tbody>
                                    </table>                                
                                </div>
	                                    </div>                        
	                                </div>
	                    </div>
	                </div>                        
                            <!-- END TABS WIDGET -->
                </div>
        
        <!-- END PAGE CONTAINER -->
{% endblock contenido %}      

{% block js %}     
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>        
        <!-- END PLUGINS -->
        
        <!-- START THIS PAGE PLUGINS-->        
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'js/plugins/morris/raphael-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/morris/morris.min.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/tableExport.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jquery.base64.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/plugins/tableexport/html2canvas.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/sprintf.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/jspdf.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/base64.js' %}"></script> 
        <!-- END THIS PAGE PLUGINS-->        
        
        <!-- START TEMPLATE -->
        
        <script type="text/javascript" src="{% static 'js/plugins.js' %}" ></script>        
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->        
 {% endblock js %}
