{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
        <!-- START CONTENT FRAME -->
                <div class="content-frame">            
                    <!-- START CONTENT FRAME TOP -->
                    <div class="content-frame-top">                        
                        <div class="page-title">                    
                            <h2><span class="fa fa-calendar"></span> Calendar</h2>
                        </div>  

                    </div>
                    <!-- END CONTENT FRAME TOP -->
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'cicloescolarinsert' %}" class="btn btn-info btn-lg" style="margin:7px;">Agregar nuevo ciclo escolar</a>
                                <a href="{% url 'cicloescolarupdate' %}" class="btn btn-info btn-lg" style="margin:7px;">Editar ciclo escolar actual</a>
                                <a href="{% url 'cicloescolarhistorico' %}" class="btn btn-info btn-lg" style="margin:7px;">Ciclos escolares anteriores - Historial</a>

                            </div>
                        </div>
                    <!-- START CONTENT FRAME LEFT -->
                    <div class="content-frame-left">
                        <!--
                        <h4>New Event</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="new-event-text" placeholder="Event text..."/>
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" id="new-event">Add</button>
                                </div>
                            </div>
                        </div>
                        -->
                        <h4>Grupos activos</h4>
                        <div class="list-group border-bottom" id="external-eventss">
                            <a class="list-group-item external-event">Grupo A - Matutino</a>
                            <a class="list-group-item external-event">Grupo B</a>
                            <a class="list-group-item external-event">Grupo C</a>
                            <a class="list-group-item external-event">Grupo A - Vespertino</a>
                            <a class="list-group-item external-event">Grupo D</a>
                            <a class="list-group-item external-event">Grupo E</a>
                        </div>
                    </div>
                    <!-- END CONTENT FRAME LEFT -->
                    
                    <!-- START CONTENT FRAME BODY -->
                    <div class="content-frame-body padding-bottom-0">
                        
                        <div class="row">
                            <div class="col-md-12">

                                <div class="calendar">                                
                                    <div id="calendar"></div>                            
                                </div>
                            </div>
                        </div>
                        
                    </div>                    
                    <!-- END CONTENT FRAME BODY -->
                    
                </div>               
                <!-- END CONTENT FRAME -->
{% endblock contenido %}

{% block js %}
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js'  %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/moment.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/fullcalendar/fullcalendar.min.js' %}"></script>


        <!-- END THIS PAGE PLUGINS-->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/settings.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>

{% endblock js %}

