{%extends 'template_admin.html'%}
{% load static %}
{% block contenido %}
                <!-- PAGE CONTENT WRAPPER -->
                <div class="panel panel-default">
                <div class="panel-body">
                <div class="page-content-wrap">
                  <div class="col-md-12">
                    <div class="error-container">
                      <div class="error-code"><span class="fa fa-check-circle-o"></span></div>
                      <div class="error-text">Profesor Eliminado Correctamente</div>
                      <div class="error-subtext"></div>
                      <div class="error-actions">
                        <div class="row">
                          <div class="col-md-6">
                            <a href="{% url 'profesores'%}" class="btn btn-info btn-block btn-lg">Regresar a Profesores</a>
                          </div>
                          <div class="col-md-6">
                            <a href="{% url 'dashboard'%}" class="btn btn-info btn-block btn-lg">Regresar a Inicio</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



                </div>
                        </div>
                    </div>

                </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->
{% endblock contenido%}
{% block js %}
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->
         <!-- THIS PAGE PLUGINS-->
        <script type="text/javascript" src="{% static 'js/plugins/icheck/icheck.min.js'}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <!-- END PAGE PLUGINS -->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js'%}"></script>
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->
{% endblock js %}
