{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
                <!-- PAGE TITLE -->
                <div class="page-title">
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Ciclo Escolar - Histórico</h2>
                </div>
                <!-- END PAGE TITLE -->
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                
                    
                    
                    <div class="row">
                        <div class="col-md-12">
                            
                            <!-- START DATATABLE EXPORT -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="{% url 'cicloescolar' %}" class="btn btn-info btn-lg">Regresar</a>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar información</button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'excel',escape:'false'});"><img src="{% static 'img/icons/xls.png' %}" width="24"/> Excel</a></li>
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'doc',escape:'false'});"><img src="{% static 'img/icons/word.png' %}" width="24"/> Word</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'png',escape:'false'});"><img src="{% static 'img/icons/png.png' %}" width="24"/> Imagen</a></li>
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'pdf',escape:'false'});"><img src="{% static 'img/icons/pdf.png' %}" width="24"/> PDF</a></li>
                                        </ul>
                                    </div>                                    
                                    
                                </div>
                                <div class="panel-body">
                                    <table id="customers2" class="table datatable">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center">#</th>
                                                <th style="text-align:center">Ciclo Escolar</th>
                                                <th style="text-align:center">Fecha de inicio</th>
                                                <th style="text-align:center">Fecha de fin</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align:center">1</td>
                                                <td style="text-align:center">Ciclo Escolar 2017 Primavera </td>
                                                <td style="text-align:center">17 de Marzo</td>
                                                <td style="text-align:center">17 de Junio</td>
                                                <td style="text-align:center"><a href="" class="btn btn-info btn-lg">Ver detalles</a></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center">2</td>
                                                <td style="text-align:center">Ciclo Escolar 2017 Primavera </td>
                                                <td style="text-align:center">17 de Marzo</td>
                                                <td style="text-align:center">17 de Junio</td>
                                                <td style="text-align:center"><a href="" class="btn btn-info btn-lg">Ver detalles</a></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center">3</td>
                                                <td style="text-align:center">Ciclo Escolar 2017 Primavera </td>
                                                <td style="text-align:center">17 de Marzo</td>
                                                <td style="text-align:center">17 de Junio</td>
                                                <td style="text-align:center"><a href="" class="btn btn-info btn-lg">Ver detalles</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END DATATABLE EXPORT -->
                        </div>
                    </div>

                </div>         
                <!-- END PAGE CONTENT WRAPPER -->

{% endblock contenido %}

{% block js %}
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/tableExport.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jquery.base64.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/html2canvas.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/sprintf.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/jspdf.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/base64.js' %}"></script>
        <!-- END THIS PAGE PLUGINS-->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/settings.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>

{% endblock js %}