{% extends 'template_admin.html' %}
{% load static %}


{% block contenido %}
                <ul class="breadcrumb">
                    <li><a href="#">Reportes</a></li>
                    <li><a href="#">Historico</a></li>
                </ul>
                <!-- END BREADCRUMB -->                
                                
                <!-- PAGE TITLE -->
                <!-- AQUI EMPIEZA EL CONTENIDO -->
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Historigrama</h2>
                </div>
                <!-- END PAGE TITLE -->                

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    
                    <div class="row">
                        <div class="col-md-6">

                            <!-- START LINE CHART -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Ganancias por ciclo escolar.</h3>              

                                </div>
                                <div class="panel-body">
                                    <div id="morris-line-example" style="height: 300px;"></div>
                                </div>
                            </div>
                            <!-- END LINE CHART -->

                        </div>
                        <div class="col-md-6">

                            <!-- START Area CHART -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Cantidad de grupos por profesor.</h3>                                
                                </div>
                                <div class="panel-body">
                                    <div id="morris-donut-example" style="height: 300px;"></div>
                                </div>
                            </div>
                            <!-- END Area CHART -->                        

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <!-- START BAR CHART -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Alumnos por ciclo escolar.</h3>                                
                                </div>
                                <div class="panel-body">
                                    <div id="morris-bar-example" style="height: 300px;"></div>
                                </div>
                            </div>
                            <!-- END BAR CHART -->

                        </div>
                        <div class="col-md-6">

                            <!-- START DONUT CHART -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Evolucionemos Juntos.</h3>                                
                                </div>
                                <div class="panel-body">
                                    <div  style="height: 300px;">
                                        <img src="{% static 'img/Logo.jpg' %}" id="logo">
                                    </div>
                                </div>
                            </div>
                            <!-- END DONUT CHART -->                        

                        </div>
                    </div>
                <!-- AQUI TERMINA EL CONTENIDO -->
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->
{% endblock contenido %}      

{% block js %}     
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>        
        <!-- END PLUGINS -->
        
        <!-- START THIS PAGE PLUGINS-->        
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'js/plugins/morris/raphael-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
        <!-- END THIS PAGE PLUGINS-->        
        
        <!-- START TEMPLATE -->
        
        <script type="text/javascript" src="{% static 'js/plugins.js' %}" ></script>        
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/demo_charts_morris.js' %}"></script>
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->        
 {% endblock js %}

