{% extends 'template_admin.html' %}
{% load static %}


{% block contenido %}
<div class="page-content-wrap">
                <!-- START WIDGETS -->

                <!-- END PAGE CONTENT WRAPPER -->
                <div class="col-md-3" id="Tarjetas">
                    <div class="widget widget-default widget-item-icon">
                        <div class="widget-item-left">
                            <span class="fa fa-user"></span>
                        </div>
                        <div class="widget-data">
                            <div class="widget-int num-count">200</div>
                            <div class="widget-title">Alumnos Registrados</div>
                            <div class="widget-subtitle">En Hammer Sharp</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" id="Tarjetas3">
                    <div class="widget widget-default widget-item-icon">
                        <div class="widget-item-left">
                            <span class="fa fa-user"></span>
                        </div>
                        <div class="widget-data">
                            <div class="widget-int num-count">30</div>
                            <div class="widget-title">Profesores Registrados</div>
                            <div class="widget-subtitle">En Hammer Sharp</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" id="Tarjetas2">
                    <div class="widget widget-default widget-item-icon">
                        <div class="widget-item-left">
                            <span class="fa fa-user"></span>
                        </div>
                        <div class="widget-data">
                            <div class="widget-int num-count">10</div>
                            <div class="widget-title">Grupos</div>
                            <div class="widget-subtitle">En Hammer Sharp</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" id="clock">
                    <div class="widget widget-info widget-padding-sm">
                        <div class="widget-big-int plugin-clock">00:00</div>
                        <div class="widget-subtitle plugin-date">Loading...</div>
                    </div>
                </div>
                    <!-- START CONTENT FRAME TOP -->

                    <!-- START CONTENT FRAME BODY -->
                    <div class="row">
                        <div class="col-md-12">
                            <div id="alert_holder"></div>
                            <div class="calendar">
                                <div id="calendar"></div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
            <!-- END PAGE CONTENT -->
            <!-- AQUI TERMINA EL CONTENIDO -->
        </div>
{% endblock contenido %}

{% block js %}

        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/fullcalendar/fullcalendar.min.js' %}"></script>
        <!-- END THIS PAGE PLUGINS-->

        <!-- START TEMPLATE -->

        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
{% endblock js %}
