<!DOCTYPE html>
<html lang="en" class="body-full-height">

<head>        
        {% load static %}
        <!-- META SECTION -->
        <title>Joli Admin - Responsive Bootstrap Admin Template</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-default.css' %}"/>
        <!-- EOF CSS INCLUDE -->                                     
    </head>
    <body>
        
        <div class="login-container lightmode">
        
            <div class="login-box animated fadeInDown">
                <div class="login-logo"></div>
                <div class="login-body">
                    <div class="login-title"><strong>Inicia Sesión</strong> Administrador {{mensaje}}</div>
                    <!--<form action="http://themifycloud.com/demos/templates/joli/index.html" class="form-horizontal" method="post">-->
                    <form class="form-horizontal" role="form" action="/login/" method="post">
                        {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="email" class="login-title"><strong>E-mail</strong></label>
                            <input type="text" class="form-control" id="email" name="usuario" placeholder="E-mail"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="password" class="login-title"><strong>Password</strong></label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-link btn-block">Forgot your password?</a>
                        </div>
                        <div class="col-md-6">

                            <input type="submit" class="btn btn-info btn-block" value="Entrar">
                        </div>
                    </div>
                    
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; 2019 AppName
                    </div>
                    <div class="pull-right">
                        <a href="#">About</a> |
                        <a href="#">Privacy</a> |
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
            
        </div>
        
    </body>
</html>
