{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
                <!-- PAGE TITLE -->
                <div class="page-title">
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Modificar</h2>
                </div>
                <!-- END PAGE TITLE -->
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-heading">
                                <h3 class="panel-title">Modificar Grupo</h3>
                                <div class="pull-right">
                                    <div class="btn-group btn-group-sm">
                                        <a href="{% url 'grupos' %}" class="btn btn-info">
                                            <span class="fa fa-mail-reply"></span>
                                            <a href="#" class="btn btn-success">
                                            <span class="fa fa-plus-circle"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                                <form class="form-horizontal">
                                    <div class="panel panel-default tabs">
                                        <div class="panel-body">
                                            <div class="col-md-10">

                                                <div class="form-row">
                                                    <div class="form-group col-md-5">
                                                      <label for="inputGrupo">Nombre del grupo</label>
                                                      <input type="text" class="form-control" id="inputGrupo" placeholder="Nombre del grupo">
                                                    </div>
                                                </div>


                                            <div class="form-group">
                                                <label for="inputState" class="col-md-4 ">Profesor Asignado</label>
                                                <div class="col-md-6 col-xs12">
                                                    <select class="form-control select">
                                                        <option selected>Escoja un profesor</option>
                                                        <option>Jose Pérez Escamilla</option>
                                                        <option>Carlos Fuentes Estrada</option>
                                                        <option>Alma Sofia Perez Cruz</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                        <div class="form-group col-md-5">
                                                          <label for="inputGrupo">Sucursales</label>
                                                          <select id="inputState" class="form-control">
                                                            <option selected>Escoja una sucursal</option>
                                                            <option>Sucursal Zaragosa</option>
                                                            <option>Sucursal del Valle</option>
                                                            <option>Sucursal de Barranca del Muerto</option>
                                                          </select>
                                                        </div>
                                                    </div>
                                                <p></p>

                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <div class="col-md-6 col-xs12">
                                                      <label for="inputGrupo">Ciclo Escolar</label>
                                                      <select id="inputState" class="form-control">
                                                        <option selected>Escoja un ciclo escolar</option>
                                                        <option>2019 A</option>
                                                        <option>2019 B</option>
                                                        <option>2019 C</option>
                                                      </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-9">

                                                    <!--Formulario Fecha Inicio-->
                                                    <div class="FechaInicio" id="Fecha1">
                                                        <div class="form-group">
                                                            <p></p>
                                                           <label class="col-md-3 control-label">Fecha Inicio</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                            <input type="text" class="form-control datepicker" value="2014-11-01">
                                                        </div>
                                                    </div>
                                                    <p>
                                                    </div>
                                                    <p>

                                                    <div class="form-group">
                                                    <p>
                                                        <label class="col-md-3 control-label">Fecha Fin</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input type="text" class="form-control datepicker" value="2014-11-01">
                                                    </div>
                                                </div>


                                                <!--Formulario Horario Grupo-->
                                                <div class="form-group">
                                                <label class="col-md-3 control-label">Horario</label>
                                                <div class="input-group bootstrap-timepicker">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                <input type="text" class="form-control timepicker"/>
                                                </div>

                                                </div>
                                            </div>

                                            <div class="form-group col-md-9">
                                                <label class="col-md-3 control-label">Notas</label>
                                                <div class="col-md-10">
                                                            <textarea class="form-control" rows="5" placeholder="Notas del grupo:"></textarea>
                                                    </div>

                                              </div>


                                            </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->

{% endblock contenido %}

{% block js %}
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/tableExport.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jquery.base64.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/html2canvas.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/sprintf.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/jspdf.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/base64.js' %}"></script>
        <!-- END THIS PAGE PLUGINS-->

        <!-- START TEMPLATE -->

        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>

{% endblock js %}