{%extends 'template_admin.html'%}
{% load static %}
{% block contenido %}
                <!-- PAGE CONTENT WRAPPER -->
                <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-3">
                            <div class="widget widget-primary widget-item-icon">
                                <div class="widget-item-left">
                                    <span class="fa fa-mortar-board"></span>
                                </div>
                                <div class="widget-data">
                                    <div class="widget-int num-count">10</div>
                                    <div class="widget-title">Profesores en Total</div>
                                    <div class="widget-subtitle">Listos para enseñar</div>
                                </div>
                                <div class="widget-controls">
                                    <!--Put the controls here-->
                                </div>
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget widget-info widget-item-icon">
                                <div class="widget-item-left">
                                    <span class="fa fa-mortar-board"></span>
                                </div>
                                <div class="widget-data">
                                    <div class="widget-int num-count">7</div>
                                    <div class="widget-title">Profesores Activos</div>
                                    <div class="widget-subtitle">Listos para enseñar</div>
                                </div>
                                <div class="widget-controls">
                                    <!--Put the controls here-->
                                </div>
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget widget-warning widget-item-icon">
                                <div class="widget-item-left">
                                    <span class="fa fa-mortar-board"></span>
                                </div>
                                <div class="widget-data">
                                    <div class="widget-int num-count">3</div>
                                    <div class="widget-title">Profesores Inactivos</div>
                                    <div class="widget-subtitle"></div>
                                </div>
                                <div class="widget-controls">
                                    <!--Put the controls here-->
                                </div>
                            </div>
                    </div>


                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">

                          <!-- START DEFAULT DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Profesores</h3>
                                    <ul class="panel-controls">
                                        <a class="btn btn-info btn-lg" href="{% url 'profesoresinsert' %}"><span class="fa fa-plus-square"></span>Agregar</a>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Apellido Paterno</th>
                                                <th>Apellido Materno</th>
                                                <th>Telefono</th>
                                                <th>Correo</th>
                                                <th>Modificar</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Jorge Antonio</td>
                                                    <td>Almazan</td>
                                                    <td>Mendez</td>
                                                    <td>5560616089</td>
                                                    <td>almazanmendez@hotmail.com</td>
                                                    <td><a class="btn btn-warning btn-block" href="{% url 'profesoresupdate' %}"><span class="   fa fa-eye"></span>Modificar</a></td>
                                                    <td><a class="btn btn-danger btn-block" href="{% url 'profesoresdelete' %}"><span class="   fa fa-eye"></span>Eliminar</a></td>
                                                    <!--<td><a href="cambiarProfesor.html">ver</a></td>-->
                                                </tr>
                                            </tbody>

                                    </table>
                                </div>
                            </div>
                            <!-- END DEFAULT DATATABLE -->

                </div>
                        </div>
                    </div>

                </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->
{% endblock contenido%}
{% block js %}
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->
         <!-- THIS PAGE PLUGINS-->
        <script type="text/javascript" src="{% static 'js/plugins/icheck/icheck.min.js'}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <!-- END PAGE PLUGINS -->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js'%}"></script>
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->
{% endblock js %}
