{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}

            <!-- PAGE CONTENT -->
                

                    <!-- END MESSAGES -->

                <div class="page-content-wrap">
                    
                    
                    <div class="row">
                        <div class="col-md-6">

                            <!-- START BAR CHART -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Alumnos por ciclo escolar</h3>                                
                                </div>
                                <div class="panel-body">
                                    <div id="morris-bar-example" style="height: 300px;"></div>
                                </div>
                            </div>
                            <!-- END BAR CHART -->

                        </div>
                        <div class="col-md-6">

                            <!-- START DONUT CHART -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Alumnos por grupo</h3>
                                </div>
                                <div class="panel-body">
                                    <div id="chart-10" style="height: 300px;"><svg></svg></div>
                                </div>
                            </div>
                            <!-- END DONUT CHART -->                        

                        </div>
                    </div>

                    
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                

        
    <!-- START SCRIPTS -->
    {% endblock contenido %}

    {% block js %}
        
        <script type="text/javascript" src="{% static 'js/plugins/nvd3/lib/d3.v3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/nvd3/nv.d3.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/demo_charts_nvd3.js' %}"></script>
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->
        
        <!-- START THIS PAGE PLUGINS-->        
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'js/plugins/morris/raphael-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
        <!-- END THIS PAGE PLUGINS-->        
        
        <!-- START TEMPLATE -->
        
        
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/demo_charts_morris.js' %}"></script>

{% endblock js %}
        
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->        







